jsontoxmlapp/src/main/mule/jsontoxmlapp.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="f3ec3a8e-b134-4e24-9ebc-7cb4901c6bd3" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="jsontoxmlappFlow" doc:id="387676a6-ad1e-4f3d-874c-721ed31c9aec" >
		<http:listener doc:name="Listener" doc:id="b4410c5b-fb38-427c-90a7-77682f1fb502" config-ref="HTTP_Listener_config" path="/jsontoxml"/>
		<ee:transform doc:name="Transform Message" doc:id="c09900ec-2e0c-4c5c-9572-f09268159ea9" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/XML
---
employee:payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="4b4e0cce-5a62-4a10-b619-add1f696c230" message="#[payload]"/>
	</flow>
</mule>
